.DrawerToggle {
  width: 45px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
}
.DrawerToggle div {
  width: 80%;
  height: 4px;
  background-color: white;
  border-radius: 20%;
}

@media (min-width: 500px) {
  .DrawerToggle {
    display: none;
  }
}
